# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

!**/Makefile
!**/README


# OS and editor
.DS_Store
.vscode
.vscode/settings.json
Database/node*

HTTP\ Server/local_test.cpp
# Complied Object files
*.o
